* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body * {
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}

body {
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
    background-position: top center;
}

header {
    height: 152px;
    padding-top: 32px;
}

header div{
    margin: auto;
    display: flex;
    width: 120px;
    padding: 4px;
    border-radius: 50%;
    transition: transform .3s;
    background-image: linear-gradient(90deg, #c91842 0%, #5cc2e2 70%);
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    width: 90%;
    margin: 32px auto;
    max-width: 520px;
    display: grid;
    gap: 24px;
}

main section {
    padding-top: 4px;
    border-radius: 10px;
    color: #ffffff;
    background-image: linear-gradient(90deg, #c91842 0%, #5cc2e2 70%);
}

main section div {
    border-radius: 8px;
    background-color: #262629;
    padding: 24px 32px 32px 32px;    
}


main section p {
    letter-spacing: -0.18px;
}

main section ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 24px;
}

main section img {
    width: 100px;
    border-radius: 8px;
    transition: transform .3s;
    border: 1px solid #555555;
}

main section img:hover {
    transform: scale(1.1);
}


/* Animation */

header div {
    animation: fromTop .7s .2s backwards;
}


main section {
    animation: fromBottom .7s backwards;   
}

main section:nth-child(1) {
    animation-delay: .0s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}